page-view-video {

}

.goBack{
  float: right;
  margin-right: 20px;
  font-size: 28px;
  background-color: transparent;
}

.back-button{
  display: none !important;
}

.item-ios p:last-child {
    margin-bottom: 0;
    white-space: pre-line;
}
