/*page-login {

}

.toolbar-ios {
    padding: 4px;
    min-height: 85px;
    background-color: #fff;
}

ion-app {
    margin-left: 0px;
}

ion-menu{
  display: none;
}

.scroll-content{
  width: 100%;
  padding: 16px !important;
}

.scroll-content img{
  height: 50px;
  display: block;
  margin: auto;
  margin-bottom: 16px;
}

.content-ios {
    color: #0c4727;
    margin-top: 90px;
}

.list-ios > .item-block:last-child .item-inner, .list-ios > .item-wrapper:last-child .item-block .item-inner {
    border-bottom: 0;
    border-bottom: 0.55px solid #c8c7cc;
}


.list-ios > .item-block .item-inner, .list-ios > .item-wrapper .item-block .item-inner {
    border-bottom: 0;
    border-bottom: 0.55px solid #c8c7cc !important;
}

.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border-bottom: none;
}

.list-ios > .item-block:first-child {
    border-top: none !important;
}

.list-ios {
    background-color: transparent;
}


.item-ios {
    position: relative;
    padding-left: 0px  !important;
    border-radius: 0;
    font-size: 1.6rem;
    color: #0c4727;
    background-color: transparent;
    transition: background-color 200ms linear;
}

button {
    border: 0;
    font-family: inherit;
    font-style: inherit;
    font-variant: inherit;
    line-height: 1;
    text-transform: none;
    cursor: pointer;
    -webkit-appearance: button;

    padding: 10px;
    color: #f4f4f4;
    background-color: #26A65B;
    border-color: #26A65B;
}
*/
