<ion-header style="background-color: #f8f8f8 !important;">
  <ion-navbar style="background-image: url(assets/menu3.fw.png); background-size: 31px; background-repeat: no-repeat; background-position-y: 6px;">
    <button ion-button menuToggle>
      <!--ion-icon name="information-circle" style="color: #0c4727;position: absolute; margin-left: -37px; font-size: 40px;"></ion-icon-->
    </button>
    <ion-title><img src="assets/logo.jpg" height="25px"></ion-title> <!-- My First List -->
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon name="{{item.icon}}" item-left></ion-icon>
      {{item.title}}
      <div class="item-note" item-right>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
